@import '../../../Theme.module.scss';

/** 要求パラメータの指定コンポーネント */
.palameters {
    /** タブ */
    .tabContent {
        padding-top: 10px;
    }

    /** リクエストヘッダ入力用テーブル */
    .headerTable {
        width: 100%;
    }

    /** 無効状態のリクエストヘッダ */
    .headerDisabled {
        background-color: '[theme: disabledBackground]';

        & input {
            background-color: '[theme: disabledBackground]';
        }
    }
}